@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&family=Mukta:wght@300;400;700&display=swap');

/* Estilos Gerais do Site */

:root {
  --fonte-destaque: 'Archivo', sans-serif;
  --fonte-principal: 'Mukta', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  display: block;
  padding: 16px 60px;
  background-color: #ca1215;
  border: 0;
  border-radius: 4px;
  font-family: var(--fonte-destaque);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  transition: 0.7s;
  letter-spacing: 0.10rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #DD1D21;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Estilos da seção Header */
.header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-family: var(--fonte-destaque);
  font-size: 2.5rem;
}

.cor-destaque {
  color: #ca1215;
}

.menu-principal {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu-principal a {
  display: block;
  transition: 0.7s;
  letter-spacing: 0.10rem;
}

.menu-principal ul {
  display: flex;
}

.menu-principal ul li {
  margin: 0 16px;
}

.menu-header li a:hover {
  color: #ccc;
}

.menu-planos {
  margin-left: 64px;
  align-items: center;
}

.menu-planos-mobile {
  display: none;
}

.menu-planos .btn-menu {
  display: block;
  padding: 8px 16px;
  background-color: #ca1215;
  border-radius: 4px;
  font-weight: bold;
}

.menu-planos .btn-menu:hover {
  background-color: #DD1D21;
}

.menu-planos .link-login:hover {
  color: #DD1D21;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 48px;
  height: 4px;
  background-color: #fff;
  margin: 12px auto;
}

/* Estilos seção Header Responsivo Desktop & Tablet */
@media screen and (max-width: 1200px) {
  .header .container {
    flex-direction: column;
  }
  
  .logo {
    margin-bottom: 24px;
  }
}

/* Estilos seção Header Responsivo Tablet e Mobile */
@media screen and (max-width: 800px) {
  .header .container {
    flex-direction: row;
  }
  
  .logo {
    margin-bottom: 0;
  }

  .menu-principal {
    background-color: #000;
    flex-direction: column;
    position: fixed;
    top: 106px;
    left: 100%;
    width: 100%;
    text-align: center;
  }

  .menu-principal.active {
    left: 0;
  }

  .menu-header {
    flex-direction: column;
    width: 100%;
  }

  .menu-header li {
    margin: 0;
    border-bottom: 1px solid #fff;
  }

  .menu-header li:last-child {
    border: 0;
  }

  .menu-header li a {
    padding: 20px 0;
  }

  .menu-principal .menu-planos {
    display: none;
  }

  .menu-planos-mobile {
    display: flex;
    gap: 24px;
  }

  .menu-planos-mobile i {
    font-size: 1.25rem;
    color: #ccc;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(16px) rotate(90deg);
  }

  .hamburger.active .bar:nth-child(2) {
    transform: translate(12px, 0) rotate(90deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translate(24px, -16px) rotate(90deg);
  }
}

/* Estilos seção Header Responsivo Mobile */
@media screen and (max-width: 480px) {
  .logo {
    font-size: 1.5rem;
  }

  .menu-principal {
    background-color: #000;
    flex-direction: column;
    position: fixed;
    top: 84px;
    left: 100%;
    width: 100%;
    text-align: center;
  }

  .bar {
    width: 36px;
    margin: 8px 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(90deg);
  }

  .hamburger.active .bar:nth-child(2) {
    transform: translate(12px, 0) rotate(90deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translate(24px, -12px) rotate(90deg);
  }
}

/* Estilos da seção Intro */
.intro {
  height: calc(100vh - 106px);
  background: url("../assets/bg_intro.jpg") no-repeat center/cover;
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: color;
  display: flex;
  padding-top: 106px;
  position: relative;
  overflow: hidden;
}

.intro .container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.intro-content {
  color: #fff;
  width: 100%;
  max-width: 700px;
  margin: 0 32px;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro-content h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.intro-content p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}

.intro-content .btn {
  align-self: flex-end;
}

.intro-content .modelo {
  background-image: url("../assets/modelo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 710px;
  height: 100%;
  position: absolute;
  bottom: -240px;
  left: 100px;
}

/* Estilos da seção Intro Responsivo Desktop Tablet */
@media screen and (max-width: 1300px) {
  .intro .modelo {
    width: 580px;
    bottom: -245px;
    left: 70px;
  }
}

/* Estilos da seção Intro Responsivo Tablet */
@media screen and (max-width: 1200px) {
  .intro .container {
    justify-content: center;
  }
  .intro-content {
    text-align: center;
  }
  .intro-content .btn {
    margin: 0 auto;
  }
  .intro .modelo {
    display: none;
  }
}

/* Estilos da seção Intro Responsivo Mobile */
@media screen and (max-width: 480px) {
  .btn {
    padding: 10px 36px;
    font-size: 1rem;
  }

  .intro {
    height: auto;
  }
  
  .intro .container {
    justify-content: center;
    padding: 60px 0;
  }
  
  .intro-content {
    text-align: center;
  }
  
  .intro-content h1 {
    font-size: 2rem;
  }
  
  .intro-content p {
    font-size: 1rem;
  }
  
  .intro-content .btn {
    align-self: center;
  }
}

/* Estilos da seção Serviços */
.servicos {
  padding: 60px 20px;
}

.servicos h1 {
  text-align: center;
  font-size: 2rem;
}

.servicos p {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.2;
}

.servicos-lista {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.servico-item {
  width: 300px;
  position: relative;
}

.servico-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.servico-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 170px;
  left: calc(50% - 40px);
  z-index: 1;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

.servico-icon i {
  font-size: 2.5rem;
}

.servico-descricao {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 280px;
  padding: 20px;
  position: relative;
  top: -30px;
  left: calc(50% - 140px);
}

.servico-descricao h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 20px 0 10px 0;
}

.servico-descricao p {
  font-size: 1rem;
  line-height: 1.4;
}

/* Estilos da seção Serviços Responsivo Mobile */
@media screen and (max-width: 768px) {
  .servicos-lista {
    flex-direction: column;
  }

  .servico-item {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
  }

  .servico-icon {
    bottom: -40px;
    z-index: 9;
  }
}

/* Estilos da seção Planos */
.planos {
  background-color: #000;
  padding: 60px 20px;
}

.planos h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.planos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.plano-single {
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
}

.plano-single:nth-child(2) .plano-title {
  background-color: gold;
}

.plano-title {
  padding: 20px;
  background-color: #ccc;
  text-align: center;
  position: relative;
}

.plano-title  h3 {
  font-size: 2rem;
  font-weight: normal;
}

.plano-title .desconto {
  width: 140px;
  position: absolute;
  background-color: #00448F;
  padding: 5px 10px;
  border-radius: 8px;
  bottom: -15px;
  left: calc(50% - 70px);
  color: #fff;
  font-weight: bold;
}

.descricao-plano {
  padding: 40px 20px;
  text-align: center;
}

.descricao-plano .tipo-plano {
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}

.vantagens {
  margin-top: 20px;
}

.vantagens li {
  margin: 10px 0;
}

.descricao-plano .btn {
  width: 100%;
}

.info-adicional {
  margin-top: 20px;
  font-size: 0.75rem;
  line-height: 1.2;
}

.info-adicional p {
  margin-bottom: 10px;
}

/* Estilos da seção Planos Responsivo Tablet e Mobile */
@media screen and (max-width: 880px) {
  .plano-single:nth-child(2) {
    order: 1;
  }
  
  .plano-single:nth-child(1) {
    order: 2;
  }
  
  .plano-single:nth-child(3) {
    order: 3;
  }
}

@media screen and (max-width: 500px) {
  .plano-single {
    width: 90%;
    max-width: 380px;
  }
}

/* Estilos da seção Sobre */
.sobre {
  background-color: #00448F;
}

.sobre .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.sobre-info {
  width: calc(50% - 20px);
  color: #fff;
  padding: 60px;
}

.sobre-info h1 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 20px;
}

.sobre-info-destaque {
  font-weight: bold;
}

.sobre-info p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

.sobre-img {
  width: 50%;
}

.sobre-img img {
  height: 600px;
  object-fit: cover;
}

/* Estilos da seção Sobre Responsivo Tablet e Mobile */
@media screen and (max-width: 960px) {
  .sobre .container {
    flex-direction: column;
  }
  
  .sobre-info {
    width: 100%;
  }
  
  .sobre-img {
    width: 100%;
  }
  
  .sobre-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}

/* Estilos da seção Sobre Responsivo Mobile */
@media screen and (max-width: 800px) {
  .sobre-info h1 {
    font-size: 2rem;
  }
  
  .sobre-info p {
    font-size: 1rem;
  }

  .sobre-img img {
    height: 300px;
  }
}

/* Estilos da seção Depoimentos */
.depoimentos {
  padding: 60px 20px;
}

.depoimentos h1 {
  font-size: 2rem;
  text-align: center;
}

.depoimentos > p {
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;
}

.testimonials {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.testimonial-single {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}

.testimonial-img {
  width: 96px;
  height: 96px;
  background-color: #ccc;
  border-radius: 50%;
}

.testimonial {
  width: 400px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  position: relative;
}

.testimonials .testimonial-single:nth-child(1) .testimonial-img {
  background-image: url("../assets/testimonial-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials .testimonial-single:nth-child(2) .testimonial-img {
  background-image: url("../assets/testimonial-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial-text {
  font-style: italic;
  line-height: 1.2;
}

.testimonial-author {
  font-size: 1.25rem;
  font-weight: bold;
}

.testimonial i {
  font-size: 1.5rem;
  color: gold;
}

.testimonial .fa-quote-left {
  position: absolute;
  left: 20px;
  top: 20px;
}

.testimonial .fa-quote-right {
  position: absolute;
  right: 20px;
  bottom: 70px;
}

/* Estilos da seção Depoimentos Responsivo Mobile */
@media screen and (max-width: 560px) {
  .testimonial {
    max-width: 400px;
    width: 100%;
  }
  .testimonial-single {
    flex-direction: column-reverse;
    align-items: center;
  }
}

/* Estilos da seção Footer */
footer {
  background-image: url("../assets/bg_footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.8);
  background-blend-mode: color;
  padding: 60px 20px 20px 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}

.footer a {
  transition: 0.7s;
}

.footer a:hover {
  color: #ccc;
}

.footer-marca {
  width: 40%;
}

.footer-marca .logo {
  color: #fff;
}

.footer-marca p {
  color: #fff;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.links-single h3 {
  color: #fff;
  text-transform: uppercase;
}

.social-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fff;
  padding: 20px 0 0 0;
  margin-top: 90px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 48px;
}

.copy p {
  color: #ccc;
}

/* Responsivo Footer */
@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 30px;
  }
  
  .footer-marca {
    width: 100%;
    text-align: center;
  }
  
  .footer-links {
    width: 100%;
    margin-top: 60px;
    justify-content: space-evenly;
    gap: 90px;
  }
}

/* Responsivo Footer Mobile */
@media screen and (max-width: 768px) {
  .social-copy {
    flex-direction: column;
    gap: 30px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }

  .copy {
    text-align: center;
  }
}

/* Responsivo Footer Mobile */
@media screen and (max-width: 430px) {
  .links-single {
    text-align: center;
  }
  .footer-links {
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    justify-content: center;
    gap: 60px;
  }
  .footer-links h3 {
    margin-bottom: 10px;
  }
  .footer-links li {
    margin-bottom: 10px;
  }
}